* {
	box-sizing: border-box;
}

header, nav, main, footer {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

header, footer, section, .result {
	font-family: "Helvetica Neue", Calibri, Roboto, Arial, sans-serif;
	border-radius: 2px;
}

header {
	padding: 20px;
	background-color: #555555;
	text-align: center;
	color: white;
	border-radius: 4px;
}

#prev, #next {
	padding: 6px 12px;
	font-size: 1em;
	border-radius: 2px;
	transition: 0.3s;
	background: #eeeeee none;
	color: #555555;
	border: 1px solid #555555;
}

#prev:hover, #next:hover {
	cursor: pointer;
	color: white;
	background-color: #555555;
	border: 1px solid transparent;
}

#prev:disabled, #next:disabled {
	opacity: 0.25;
}

#prev:disabled:hover, #next:disabled:hover {
	cursor: default;
	background: #eeeeee none;
	color: #555555;
	border: 1px solid #555555;
}

div + div {
	margin-top: 20px;
}


.code {
	font-size: 0.9em;
	line-height: 1em;
}

h3.path {
	font-style: italic;
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
	background-color: #555555;
	color: white;
	padding: 12px;
}

section {
	display: none;
	flex-wrap: wrap;
}

section.current {
	display: flex;
}

.description, figure {
	padding: 30px;
}

.description {
	width: 52%;
}

figure {
	margin: 0;
	width: 48%;
}

figcaption {
	margin-top: -3em;
	text-align: center;
	font-style: italic;
	font-size: 0.75em;
	color: #555555
}

nav {
	display: flex;
	margin: 20px auto 20px;
	justify-content: space-between;
	align-items: center;
}

.micetype {
	font-size: 0.75em;
	font-style: italic;
	color: #cccccc
}

h1 {
	border-bottom: 1px solid #cccccc;
}

h1, h2, h3, p {
	margin-top: 0;
}

* + h1 { margin-top: 30px }
* + h2 { margin-top: 24px }
* + h3 { margin-top: 20px }
* + p { margin-top: 20px }

li ul, li + li {
	margin-top: 16px;
}

li ul {
	margin-bottom: 16px;
}

em {
	font-style: italic;
	font-weight: 700;
}

aside {
	position: relative;
	display: block;
	padding: 10px 30px;
	margin: 10px 0;
	background-color: yellow;
	border: 1px solid #555555;
	border-radius: 3px;
	color: #555555;
	font-style: italic;
	font-size: 0.8em;
	text-align: center;
}

aside:before, aside:after {
	content: url(tutorial_images/aside.png);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

aside:before {
	left: 8px;
}

aside:after {
	right: 8px;
}
